.stage {
  position: relative;
  width: 800px;
  height: 500px;
  border: 1px solid #999;
  border-radius: 10px;
}

.stage-object {
  position: absolute;
  border: 1px solid #999;
  border-radius: 5px;
}